<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter7app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chapter 7"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter7App"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ShowMarksstudent"
            android:exported="true" />
        <activity
            android:name=".StudenttestMarks"
            android:exported="true" />
        <activity
            android:name=".Showtests"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".addTeacher"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Add_Notification"
            android:exported="true" />
        <activity
            android:name=".ShowMarks"
            android:exported="true" />
        <activity
            android:name=".DisplayTestNo"
            android:exported="true" />
        <activity
            android:name=".Testno"
            android:exported="true" />
        <!--
<activity
            android:name=".DisplayClassesMarks"
            android:exported="true" />
        -->
        <activity
            android:name=".AddMarks"
            android:exported="true" />
        <activity
            android:name=".SelectClass"
            android:exported="true" />
        <activity
            android:name=".AddClass"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Chapter7App.NoActionBar" />
        <activity
            android:name=".AdminView"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>